.home-carousel{
  position: relative;
  top: 80px;
  z-index: 1;

  img {
    height: 800px;
    object-fit: cover;
    width: 100%;
    transition: 1s ease-out;
  }
}

.home-carousel{
  > .home-carousel-button {
    position: absolute;
    top: 42%;
    font-size: 80px;
    color: white;
    margin: 10px;

    &.not-active {
      color: rgba(255, 255, 255, 0.4);
    }

    &.carousel-next {
      right: 0;
    }
  }
}
