$header-background: #fff;

.fixed-header {
  background-color: $header-background;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 500;
}
.shop-logo {
  img {
    max-height: 80px;
    width: auto;
  }
  width: 200px;
  margin-left: 20px;
  display: inline-block;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  float: right;
  margin: 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-nav-item {
  :hover {
    border-bottom: 2px solid #777;
    transition: 0.2s border;
  }
  margin: 0 20px;
  transition: 0.3s border;
}
.nav-item-link {
  text-transform: uppercase;
}
