// imports
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display|Roboto&display=swap');


//variables
$headers-font: 'Roboto', sans-serif;
$content-font: 'Red Hat Display', sans-serif;
$text-color: #212121;


//global styles
body {
  margin: 0 auto;
  color: $text-color;
  font-family: $content-font;
}

a, h1, h2, h3, h4, h5 {
  font-family: $headers-font;
}

a {
  color: $text-color;
  font-weight: bold;
  text-decoration: none;
}
.shadowed {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
}
